.cadt-item-main-container{
    margin-top: 20px;
    width: 100%;
    height: 100%;

    overflow-y: scroll;

}

.cart-item-card{

    width: 97%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom: 0.5px solid lightslategray;
    border-block-start-color: antiquewhite;

}

.cart-number-contaainer{
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-image-contaainer{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-detail-contaainer{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.cart-price-contaainer{

    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-quatity-contaainer{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-action-contaainer{
    
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#input-quantity{
    width: 40%;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;
}

#button-quantity{
    width: 20%;
    height: 40px;

    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: rgb(150, 150, 150);

    border: 0;

    transition: 0.4s;
}

#button-quantity:hover{

    background-color: rgb(100, 100, 100);

}

#button-delete{

    width: 60%;
    height: 40px;

    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 0, 0);

    border: 0;
    border-radius: 5px ;

    display: block;
}

#button-add-review{

    width: 40%;
    height: auto;

    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #687ee0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

    border: 0;
    border-radius: 5px ;

    display: block;

    transition: 0.4s;
}

#button-add-review:hover{

    background-color: #36468d;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.reviewed-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    word-wrap: break-word;
}

.reviewed-container > p{
    margin: 0;
    padding:10px;

    font-size: 1rem;
    font-weight: bold;
}


#button-delete:hover{

    background-color: rgb(148, 0, 0);

}

#product-price-cart{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(43, 43, 43);

    padding: 0;
    margin: 0;
}

#cart-product-name{
    font-size: 1.25rem;
    font-weight: bold;

    color: rgb(43, 43, 43);

    padding: 0;
    margin: 0;

    text-align: left;

}

#cart-product-descrip{
    font-size: 0.75rem;
    color: rgb(43, 43, 43);
    word-wrap:normal;

    padding: 0;
    margin: 0;
    margin-top: 10px;

    text-align: left;
}

#cart-item-number{
    font-size: 1.25rem;
    font-weight: bold;

    color: rgb(43, 43, 43);

    padding: 0;
    margin: 0;
}

.color-size-container{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 10px;
}

.cart-color-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width : auto;
}

#card-display-color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;

    position : relative;
    left: 0;
}

#color-desc{
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 0.75rem;
}

#size-desc{
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
}

.cart-size-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : auto;
}

.cart-image-contaainer > img{
    width: 100px;
    height: auto;

}

#size-desc-mobile{
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    display: none;
}


.not-found-record{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute; */
    z-index: 2;
}

.not-found-record > p{
    color: rgb(100, 100, 100);
    font-size: 1rem;
}

.purchast-date-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchast-date-time > p{
    padding: 0;
    margin: 0;

    padding: 5px;
    font-size: 1rem;
    font-weight: bold;

    color: rgb(50, 50, 50);

}













@media(max-width:768px){
    
    .cart-item-card{

        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: row;

    }

    #cart-product-name{
        font-size: 1rem;
        font-weight: bold;
    
        color: rgb(43, 43, 43);
    
        padding: 0;
        margin: 0;
    
        text-align: left;
    
    }

    
#cart-product-descrip{
    display: none;
}

.color-size-container{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 10px;
}

.cart-number-contaainer{
    display: none;
}

.cart-image-contaainer{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-image-contaainer > img{
    width: 100%;

}

.cart-detail-contaainer{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-price-contaainer{

    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-quatity-contaainer{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-action-contaainer{
    
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#input-quantity{
    width: 35%;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;

    font-size: 0.7rem;
    font-weight: bold;
}

#button-quantity{
    width: 30%;
    height: 40px;

    font-size: 1rem;

    color: white;
    background-color: rgb(56, 56, 56);

    border: 0;
}

/* #button-delete{

    width: 60%;
    height: 40px;

    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 0, 0);

    border: 0;
    border-radius: 5px ;

    display: block;
} */

#product-price-cart{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(43, 43, 43);

    padding: 0;
    margin: 0;
}

#cart-product-name{
    font-size: 1rem;
    font-weight: bold;

    color: rgb(43, 43, 43);

    padding: 0;
    margin: 0;

    text-align: left;

}

#cart-product-descrip{
    font-size: 0.75rem;
    color: rgb(43, 43, 43);
    word-wrap:normal;

    padding: 0;
    margin: 0;
    margin-top: 10px;

    text-align: left;
}

#size-desc{
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    display: none;
}

#size-desc-mobile{
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    display: block;
}

.cart-color-container{
    display: none;
}

.cart-card-container{
    padding: 0;
    margin: 0;

    height: 400px;
}

.purchast-date-time > p{
    padding: 0;
    margin: 0;

    padding: 5px;
    font-size: 0.75rem;
    font-weight: bold;

    color: rgb(50, 50, 50);

}
    
}

@media(max-width:475px){
    

    #cart-product-name{
        font-size: 0.75rem;
        font-weight: bold;
    
        color: rgb(43, 43, 43);
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .purchast-date-time > p{
        padding: 0;
        margin: 0;
    
        padding: 5px;
        font-size: 0.5rem;
        font-weight: bold;
    
        color: rgb(50, 50, 50);
    
    }

}

