*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-San', sans-serif;
}

.header-navbar-container{
    height: 30vh;
    background-color: white;
    display: grid;
    grid-template-rows: auto 60px;
    align-items: center;
}

.header-container{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#brand-named{
    font-size: 4rem;
    text-align: center;
    color: black;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    display: flex;
}

#username{
    color: rgb(100, 100, 100);
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 27px;
    transition: 0.4s;
}

#username:hover{
    color: #3c5fff;
    cursor: pointer;
    transform: translate(0px,-2px);
}

#shopping-cart{
    transition: 0.4s;
}

#shopping-cart:hover{
    color: #3c5fff;
    cursor: pointer;
    transform: translate(0px,-2px);
}

#e-mail{
    transition: 0.4s;
}

#e-mail:hover{
    color: #3c5fff;
    cursor: pointer;
    transform: translate(0px,-2px);
}

.signin-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    color: #3c5fff;
    cursor: pointer;
    transform: translate(0px,-2px);
}


header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

#main-menu {
    font-weight: bold;
    color: rgb(99, 99, 99);
    transition: 0.4s;
}

#main-menu:hover{
    color: #3c5fff;
    cursor: pointer;
    transform: translate(0px,-2px);
}

.navbar .links{
    display: flex;
    gap: 5rem;

    transition: 0.4s;
}

.navbar .toggle-btn{
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.action-btn{
    transition: 0.3s;
}

.shopping-cart-container{
    display: flex;
    width: 64px;
    height: 40px;

    justify-content: center;
    align-items: center;
}

.shoping-cart{
    margin-left: 10px;
}

.counting-container{
    width: 24px;
    height: 24px;
    background-color: #d42117;
    border-radius: 50%;

    color: white;
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    right: 15%;
    margin-top: -20%;
}

.coupon-counting-container{
    width: 24px;
    height: 24px;
    background-color: rgb(28, 190, 64);
    border-radius: 50%;

    color: white;
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    right: 15%;
    margin-top: -20%;
}

.username-dropdown{
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    position: fixed;

    z-index: 2;
    top: 30%;

    transition: 0.6s;
    display: none;

    border-radius: 10px;
    display: flex;
    flex-direction: column;

    padding: 10px;

}

.username-dropdown-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username-menu{
    padding: 5px;
}

.ham-menu{

    width: 300px;
    height: auto;

    background-color: rgba(0, 0, 0, 0.65);

    position: absolute;
    right: 2%;
    z-index: 5;
    margin-top: 10px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 20px;

    display: none;
}

#link-ham{
    width: 100%;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;

    color: white;
    font-weight: bold;

    border-radius: 10px;

    transition: 0.2s;
}

#link-ham:hover{
    background-color: rgba(200, 200, 200,0.3);
}

#coupon-ham{
    width: 100%;

    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;

    color: white;
    font-weight: bold;


    border-radius: 10px;

    transition: 0.2s;
}

#coupon-ham:hover{
    background-color: rgba(200, 200, 200,0.3);
}

.coupon-detail-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

#coupon-detail{
    padding: 5px;
    margin: 0;

    color: white;
    font-size: 1rem;
}


@media(max-width: 768px){
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
        margin-top: 20px;
    }
    
}