.new-arrival-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.new-arrival-container > p{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

@media(max-width:768px){
    .new-arrival-container{
        margin-top: 0px;
    }

    .gallery{
        margin: 20px 0;
    }
}

