.shopping-page-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    padding: 20px;
    border-top: 1px solid gray;
}

.search-bar-container{
    width: 100%;
    max-width: 1600px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search-keyword-input{
    width: 500px;
    height: 50px;

    font-size: 1rem;

    border: #687ee0 1px solid;
    border: 10px 0px 0px 10px;
    padding: 10px;

}

#search-keyword-button{
    width: 100px;
    height: 50px;

    font-size: 1rem;

    background-color: #687ee0;
    border: 0;
    border-radius: 0px 10px 10px 0px;

    color: white;
    font-weight: bold;
    
}

.product-list-container{
    width: 100%;
    max-width: 1600px;
    height: auto;

    display: flex;
}

.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;

    margin-top:20px;
    margin-left: 20px;

}

.dropbtn {
    background-color: #687ee0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    width: 200px;
    margin: 0;

    border-radius: 10px;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #687ee0;
    width: 200px;
    border-radius: 10px;
  }

  .product-card-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

  #page-header{
    margin-top: 50px;
  }









  @media(max-width:768px){
    
    .product-list-container{
      width: 100%;
      height: auto;
  
      display: flex;
      flex-direction: column;
      
  }

  .filter-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;

    margin-top: -90px;

}

.dropbtn {
    background-color: #687ee0;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;

    width: 200px;
    padding: 8px;

    margin-top: -20px ;
    border-radius: 10px;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #687ee0;
    width: 200px;
    border-radius: 10px;
  }
  
  #page-header{
    margin-top: 30px;

    font-size: 2rem;
  }


}
